# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "shopify-app-client_id"
name = "shopify-app-name"
handle = "shopify-theme-extension-app"
application_url = "app-url"
embedded = true

[build]
include_config_on_deploy = true

[webhooks]
api_version = "2025-07"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = ""

# At least one redirect url is must.
[auth]
redirect_urls = [ "https://shopify.dev/apps/default-app-home/api/auth" ]

[pos]
embedded = false
