.store-name {
    font-size: x-large;
    font-weight: lighter;
    padding: 0px 0px 0px 0px;
}

#store-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.store {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#pickup-btn {
    background-color: #0f8842;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 24px;
    font-size: 16px;
}

.store-actions {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: end;
    justify-content: center;
}

.custom-line {
    height: 1px;
    background-color: rgb(201, 198, 198);
    width: 100%;
    margin: auto;
}

/* .pickup-modal {
  position: relative;
  top: 0; left: 0;
  width: 200%; height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pickup-modal__overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.pickup-modal__content {
  position: relative;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  min-width: 300px;
  max-width: 500px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.pickup-modal__close {
  position: absolute;
  top: 10px; right: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
} */
